<footer>
    <section class="section">
        <div id="copyright" class="text">
            <a href="https://www.credly.com/go/G9SfZCZin1FxXBGAWaN0zA" target="_blank" rel="noopener">
                <img id="aasw-badge"
                    src="/assets/images/aasw_badge_p.webp" 
                    alt="Social Worker Member badge image. Validation. Foundational level. Issued by Australian Association of Social Workers (AASW)"
                    loading="lazy"
                    width="200" height="200">
            </a>
            <p>
                © 2025 Pathways in Care. All Rights Reserved.
            </p>
        </div>
    </section>
</footer>