<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} || Pathways in Care</title>
    <script
        src="https://www.google.com/recaptcha/api.js?render=6LcKznUrAAAAAJ8zSpjUvedsZk_8VTYPRV76WPVE&onload=grecaptchaCallback&render=explicit"
        async defer></script>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://unpkg.com/lucide@latest/dist/lucide.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
        rel="stylesheet">
</head>

<body>
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="/assets/script.js"></script>
</body>

</html>